.memoryGame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 10px;
  background: url('./image/bg1.png') no-repeat center center/cover;
  height: 85vh;
  overflow: hidden;
  position: relative;
}

.game {
  display: grid;
  grid-template-columns: repeat(4, 12rem); /* Cartas grandes */
  grid-gap: 1rem;
  margin-bottom: 20px;
}

.card {
  width: 12rem;
  height: 12rem;
  perspective: 1000px;
  cursor: pointer;
  position: relative;
  background-image: url("/image/preso2.png");
  background-size: cover;
  background-position: center;
  transition: transform 0.5s ease;
  transform-style: preserve-3d;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card.flip {
  transform: rotateY(180deg);
}

.card .front,
.card .back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.card .front {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  background-size: cover;
  transform: rotateY(180deg);
}

.card .back {
  background-image: url("/image/preso2.png");
  background-size: cover;
}

.card.flip .front {
  transform: rotateY(0deg);
}

.card.flip .back {
  transform: rotateY(180deg);
}

.timerContainer {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.message {
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
  color: #e3e2e4e3;
  text-align: center;
  padding: 10px;
  background-color: rgba(86, 56, 196, 0.74); /* Fundo semitransparente */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); /* Sombras para destacar a caixa de mensagem */
}

.resetButton {
  margin-top: 20px;
  padding: 15px 30px;
  background-color: #5347ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.resetButton:hover {
  background-color: #865ed1;
  transform: scale(1.1);
  transition: background-color 0.3s, transform 0.3s;
}

.ranking {
  position: absolute;
  top: 47%;
  left: 20rem;
  transform: translateY(-50%);   
  text-align: center;
  align-items: center;
  justify-content: center;

  width: 28rem;
  background-color: rgba(255, 255, 255, 0.753);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 10px 20px rgba(0, 5, 0, 0.4), 
            0 15px 30px rgba(0, 5, 0, 0.3), 
            0 20px 40px rgba(0, 5, 0, 0.2);
}

.ranking h3 {
  margin: 0;
  font-size: 2rem;
  text-align: center;
}

.ranking ul {
  list-style: none;
  padding: 0;
}

.ranking li {
  font-size: 14px;
  margin: 5px 0;
}






