/* Background animado para o jogo */
.memory-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(to bottom, #f0f8ff, #00bfff);
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.game {
  display: grid;
  grid-template-columns: repeat(4, 12rem); /* Cartas grandes */
  grid-gap: 1rem;
  margin-bottom: 20px;
}

.card {
  width: 12rem;
  height: 12rem;
  perspective: 1000px; /* Dá a sensação de profundidade */
  cursor: pointer;
  position: relative;
  background-image: url("/image/preso2.png");
  background-size: cover;
  background-position: center;
  transition: transform 0.5s ease;
  transform-style: preserve-3d;
  border-radius: 12px; /* Bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombras sutis */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombras mais fortes */
}

.card.flip {
  transform: rotateY(180deg); /* Virada quando clicada */
}

.card .front,
.card .back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.card .front {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  background-size: cover;
  transform: rotateY(180deg);
}

.card .back {
  background-image: url("/image/preso2.png");
  background-size: cover;
}

.card.flip .front {
  transform: rotateY(0deg);
}

.card.flip .back {
  transform: rotateY(180deg);
}

#timer-container {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

#message {
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
  color: #ff6347;
}

#reset-button {
  margin-top: 20px;
  padding: 15px 30px;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

#reset-button:hover {
  background-color: #e53e3e;
  transform: scale(1.1);
  transition: background-color 0.3s, transform 0.3s;
}
