@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "poppins", sans-serif;
}

:root {
    --bg-color: #dfdae7;
    --second-bg-color: #6637d4;
    --second-bg-color-black: #0d1216be;
    --text-color: #444444;
    --text-color-alpha: #ffffffd8;
    --main-color: #6637d4;
}

html {
    font-size: 62.5%;
    overflow: auto;
}

body {
    height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

h1 {
    font-size: 7rem;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 1rem;
}

p {
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 1rem;    
}


a {
    text-decoration: none;
    color: #ededed;
}

.container-center {
    display: flex;
    font-size: 1.8em;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 2em;
    
}

.heading {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}




/* Configurações gerais para dispositivos menores */
@media (max-width: 768px) {
    html {
        font-size: 50%; 
    }

    section {
        padding: 8rem 5% 2rem; 
    }

    h1 {
        font-size: 5rem; 
        text-align: center;
    }

    p {
        font-size: 1.8rem; 
        margin-bottom: 1.5rem;
        text-align: justify; 
    }

    .heading {
        font-size: 4rem;
        margin-bottom: 2.5rem;
    }

    .container-center {
        font-size: 1.6em; 
        padding-bottom: 1.5em;
    }

    a {
        font-size: 1.6rem;
    }
}

/* Configurações para dispositivos ainda menores, como smartphones (vertical) */
@media (max-width: 480px) {
    section {
        padding: 7rem 3% 1rem; 
    }

    h1 {
        font-size: 4rem; 
    }

    p {
        font-size: 1.6rem; 
    }

    .heading {
        font-size: 3.5rem;
    }

    .container-center {
        font-size: 1.4em; 
    }

    a {
        font-size: 1.4rem; 
    }
}

/* Ajustes para modo paisagem (horizontal) em dispositivos móveis */
@media (max-width: 768px) and (orientation: landscape) {
    section {
        padding: 6rem 5% 2rem;
    }

    h1 {
        font-size: 4.5rem;
    }

    p {
        font-size: 1.7rem;
    }

    .heading {
        font-size: 4rem;
    }

    .container-center {
        font-size: 1.5em;
    }

    a {
        font-size: 1.5rem;
    }
}

