@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "poppins", sans-serif;
}

:root {
    --bg-color: #dfdae7;
    --second-bg-color: #6637d4;
    --second-bg-color-black: #0d1216be;
    --text-color: #444444;
    --text-color-alpha: #ffffffd8;
    --main-color: #6637d4;
}

html {
    font-size: 62.5%;
    overflow: auto;
}

body {
    height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
}
h1 {
    font-size: 7rem;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 1rem;
}

p {
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 1rem;    
}


a {
    text-decoration: none;
    color: #ededed;
}

.container-center {
    display: flex;
    font-size: 1.8em;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 2em;
    
}

#change-language {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    text-decoration: none; 
    font-size: 0.95em;
}

#change-language img {
    width: 4.3em; 
    height: auto;
}


.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background: var(--bg-color);
    justify-content: space-between;
    align-items: center;
    transition: .3s;
    z-index: 100;
}

.header.sticky {
    background: var(--bg-color);
}

.logo {
    position: relative;
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar {
    position: relative;
    z-index: 100;

}

.navbar a {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 8rem;
    transition: .3s;
    z-index: 100;
}

.navbar a:hover,
.navbar a.ativado {
    color: var(--main-color);
}

.player .live-button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    background: #62616680;
    color: #fff;
    border: 1px solid #ffffff33;
    border-radius: 25px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px #ffffff1a;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  }
  
  .player .live-button i {
    font-size: 24px;
  }
  
  .player .live-button span {
    text-transform: uppercase;
  }
  
  .player .live-button:hover {
    background: var(--main-color); 
    box-shadow: 0 6px 8px #00000033, 0 2px 4px #ffffff33;
    transform: scale(1.05);
  }
  
  .player .live-button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px #0000001a, 0 1px 2px #ffffff1a;
  }

  .player .live-text {
    color: #fff; /* Define o texto como branco */
    font-weight: bold; 
    text-transform: uppercase; 
  }

  .player .live-dot {
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.3rem; 
    border-radius: 50%;
    background-color: #ff0000;
    animation: blink 1s infinite;
    box-shadow: 0 0 8px #ff0000; /* Efeito neon */
  }
  
  @keyframes blink {
    0%, 100% {
      opacity: 1;
      transform: scale(1);
      box-shadow: 0 0 8px #ff0000;
    }
    50% {
      opacity: 0.5;
      transform: scale(0.8);
      box-shadow: 20 20 400px #6d0202;
    }
  }
  
  
  
  

#menu-icon {
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.popup {
    position: fixed;
    z-index: 1000;
    background: #fff;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    cursor: grab; /* Indica que o pop-up é arrastável */
    user-select: none;
  }
  
  .popup:active {
    cursor: grabbing; /* Altera o cursor enquanto arrasta */
  }
  
  .popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #ff0000;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  
  .close-button:hover {
    background: #cc0000;
  }

  .popup.minimized {
    width: 200px;
    height: 112px;
    bottom: 10px;
    right: 10px;
    top: auto;
    left: auto;
    position: fixed;
    cursor: pointer;
    z-index: 1001; /* Garante que fique acima de outros elementos */
  }
  
  .popup.minimized iframe {
    width: 100%;
    height: 100%;
  }
  
  .minimize-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  
  .minimize-button:hover {
    background: #0056b3;
  }

/* keyframe rotação borda sobre */

@keyframes sobreSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes showRight {
    100% {
        width: 0;
    }
}