@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "poppins", sans-serif;
}

:root {
    --bg-color: #5e5db9b9;
    --second-bg-color: #112e42;
    --second-bg-color-transparent: #112e42b2;
    --text-color: #444444;
    --text-color-alpha: #ffffffd8;
    --main-color: #6637d4;
}

html {
    font-size: 62.5%;
    overflow: auto;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

p {
    text-align: justify;
}


a {
    text-decoration: none;
    color: #ededed;
}

.container-center {
    display: flex;
    font-size: 1.8em;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 2em;
    
}

#change-language {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    text-decoration: none; 
    font-size: 0.95em;
}

#change-language img {
    width: 4.3em; 
    height: auto;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.header.sticky {
    background: var(--bg-color);
}

.logo {
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar {
    position: relative;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.ativado {
    color: var(--main-color);
}

#menu-icon {
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}


/* --- media query --- */

@media (max-width: 1200px){
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 4%;
    }

    section {
        padding: 10rem 4% 2rem;
    }

    .home {
        padding: 0 4%;
    }

    .footer {
        padding: 2rem 4%;
    }

}

@media (max-width: 768px) {

    .home {
        background: url('../image/TelaTablet768-Background-portifolio1-0.png') no-repeat;
    }
    .header {
        background: var(--bg-color);
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--main-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        transition: .24s ease;
        transition-delay: .24s;
        z-index: 10;
    }

    .navbar.ativado {
        left: 0;
        transition-delay: 0s;
    }

    .navbar .ativado-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .24s ease;
        transition-delay: 0s;

    }

    .navbar.ativado .ativado-nav {
        left: 0;
        transition-delay: .24s;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .24s ease;
        transition-delay: 0s;
    }

    .navbar.ativado a {
        transform: translateX(0);
        transform-style: .24s;
    }

    .home-imgHover {
        pointer-events: none;
        background: var(--bg-color);
        opacity: .7;
    }

}

@media (max-width: 520px) {
    html {
        font-size: 50%;
    }

    .home {
        background: url('../image/TelaTablet520-Background-portifolio1.png') no-repeat;
    }

    .home-content h1 {
        display: flex;
        flex-direction: column;
    }

    .home-sci {
        width: 160px;
    }

    .home-sci a {
        width: 38px;
        height: 38px;
    }

}

@media (max-width: 462px) {
    .home {
        background: url('../image/TelaMobile-Background-portifolio.png') no-repeat;
    }

    .home-content h1 {
        font-size: 5.2rem;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        margin-top: 2rem;
        text-align: center;
    }
}

@media (max-width: 371px) {
    .home {
        justify-content: center;
        background: url('../image/TelaMobile371-Background-portifolio1-0.png') no-repeat;
    }

    .home-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .home-content h1 {
        font-size: 5rem;
    }
}

/* aimação do keyframe */

@keyframes homeBgText {
    0%,
    10%,
    100% {
        background-position: -40rem 0;
    }

    65%,
    85% {
        background-position: 0 0;
    }
}

 @keyframes homeCursorText {
    0%,
    10%,
    100% {
        width: 0;
    }

    65%,
    78%,
    85% {
        width: 100%;
        opacity: 1;
    }

    75%,
    81% {
        opacity: 0;
    }
}

/* keyframe rotação borda sobre */

@keyframes sobreSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes showRight {
    100% {
        width: 0;
    }
}